html,body {
    margin: 0;
}

.primary {
    display: flex;
    background-color: rgb(38, 34, 111);
    padding: 0px 200px;
    flex-wrap: wrap ;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0px;
    font-size: 30px;
    justify-self: flex-start;
    align-items: center;
}

.heading {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 20px;  
}

a.header-link {
    text-decoration: none;
    color: inherit;
}
.header-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;  
}

.headertwo {
    font-size: 25px;
    margin: 0px;
}

.lower {
    display: flex;
    flex-basis: 100%;
    padding: 100px 20px 100px 20px;
    justify-content: space-between;
    align-items: center;    
}

.lower-left {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-basis: 30%;
    gap: 5px;
    margin-right: 50px;
}

.signup {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255);
    font-weight: 700;
    border: 0px;
}

.headerimg {
    display: flex;
    width: 224.82px;
    height: 150px;
}

.header-text {
    color: rgb(206, 201, 201);
}

.second-head {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.twoprimary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 249, 249);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px 200px;
}

.textimage {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
    inline-size: 100px;
}

.blackbox {
    display: flex;
    width:100px;
    height:auto;
}

.secondcontent {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.thirdsection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 200px 300px 200px 300px;
    background-color: rgb(150, 150, 150);
}

.quote {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-style: italic;
    font-size: 25px;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    margin-right: 50px;
    font-size: 20px;
    flex-basis: 100%;
}

.fourthsection {
    display: flex;
    justify-content: center;
    padding: 200px 300px;
    flex-basis: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.everything {
    display: flex;
    align-items: center;
    background-color: rgb(0, 123, 255);
    padding: 15px 20px;
    border-radius: 25px;
}

.fourtitle {
    font-size: 20px;
    margin-bottom: 5px;
}
.titleblurb {
    display: flex;
    flex-direction: column;
}

.fourblurb {

    font-size: 15px;
}

.foursignup {
    padding: 5px 20px 5px 20px;
    margin: 25px;
    background-color: rgb(0, 123, 255);
    font-weight: 700;
    border-radius: 25px;
    color: white;
    border-color: white;
    font-family: inherit;
}